<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDf7AcXcDSGUbIeBJEPoggEHwj8rFzTBhs</string>
	<key>GCM_SENDER_ID</key>
	<string>948724176511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipebook</string>
	<key>PROJECT_ID</key>
	<string>recipebook-d538c</string>
	<key>STORAGE_BUCKET</key>
	<string>recipebook-d538c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948724176511:ios:61c8b402d0473046e0914a</string>
</dict>
</plist>